h1 {
  color: #fff;
  margin: 0;
  font-size: 3em;
  position: relative;
  top: 1em;
  left: 4em;
}

#bento {
  width: 50em;
  border: 5px solid brown;
  margin: 2em auto;
  position: relative;
}

.box1, .box2, .box3, .box4 {
  width: 25em;
  height: 10em;
  margin: 0;
}

/*   Box 1 is positioned absolutely relative to its nearest positioned ancestor, the parent container, bento, at top left corner:*/
.box1 {
  background-color: green;
  position: absolute;
  top: 0;
  left: 0;
}

/* Box 2 is positioned relative to its container, #Bento.  Pushed to the right by putting 25em on the left side
because in markup order it's flush left.   */
.box2 {
  background-color: blue;
  position: relative;
  left: 25em;
}

.box3{
  background-color: orange;
}

/*Using 'absolute` on Box 4 anchors the div to the lower right corner of its parent element, Bento, meaning
that there is no residual "saved" space. */
.box4 {
  background-color: grey;
  position: absolute;
  bottom: 0;
  right: 0;
}


/* Using `relative` on Box 4 means that the space we move it from, relative to the parent container Bento,
is NOT filled in -- the original markup spot remains, pushing the bottom border of Bento an additional 10em* /

/*.box4{
  background-color: grey;
  position: relative;
  left: 25em;
  bottom: 10em;
} */
